@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,500;1,700&family=Gafata&family=Rubik&display=swap");

:root {
  --bg-primary: #393f5f;
  --bg-secondary: #6a7e6a;
  --bg-tertiary: #e96d53;
  --text-primary: #ff9760;
  --text-secondary: #ffe69d;
}

body {
  margin: 0;
  background-color: var(--bg-primary);
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

.text-center {
  text-align: center;
}

header {
  /* background-color: var(--bg-primary); */
  backdrop-filter: blur(2px) brightness(90%);
  -webkit-backdrop-filter: blur(2px) brightness(90%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5em 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

header > a {
  margin: 0 2em;
  font-family: "Gafata", sans-serif;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid white;
}

nav {
  position: absolute;
  /* background-color: brown; */
  backdrop-filter: blur(3px) brightness(60%);
  -webkit-backdrop-filter: blur(2px) brightness(60%);
  top: 9.5vh;
  width: 100%;
  display: flex;
  height: 80vh;
  max-height: 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: max-height 1s;
  z-index: 5;
}

nav.open {
  max-height: 90vh;
}

nav > a {
  /* display: none; */
  color: #ffffff;
  text-decoration: none;
  font-size: 2em;
  transform: scale(1.15) translateY(-30px);
  opacity: 0;
  border-bottom: 1px solid rgb(187, 187, 187);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
    opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

nav.open > a {
  /* display: block; */
  transform: scale(1) translateY(0px);
  opacity: 1;
  transition-delay: 0s;
}

nav a:nth-child(1) {
  transition-delay: 0.25s;
}
nav a:nth-child(2) {
  transition-delay: 0.35s;
}
nav a:nth-child(3) {
  transition-delay: 0.45s;
}
nav a:nth-child(4) {
  transition-delay: 0.55s;
}
nav a:nth-child(5) {
  transition-delay: 0.65s;
}

main {
  background-color: var(--bg-primary);
  margin: 0;
}

#logo {
  height: 7vh;
  margin-right: auto;
  margin-left: 10vw;
}

#menu_icon {
  height: 6vh;
}

.hline::before,
.hline::after {
  width: 80%;
  height: 0;
  margin: 3px 10%;
  display: inline-block;
  content: "";
}

.primary.hline::before,
.primary.hline::after {
  border: 1px solid var(--text-primary);
}

.secondary.hline::before,
.secondary.hline::after {
  border: 1px solid var(--text-secondary);
}

.title.primary {
  color: var(--text-primary);
}

.title {
  font-size: 3em;
  text-align: center;
  color: var(--text-secondary);
}

.menu-item {
  display: none;
  color: white;
}

.timeline {
  border-left: 4px solid var(--text-primary);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0.5em;
  color: var(--text-secondary);
}

.event {
  position: relative;
  left: 1em;
  background-color: var(--bg-secondary);
  width: 72vw;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

.event::before {
  text-align: right;
  position: absolute;
  display: block;
  top: 0em;
  left: 0em;

  content: None;
  width: 0em;
}

.timeline .event:after {
  position: absolute;
  display: block;

  box-shadow: 0 0 0 4px var(--text-primary);
  left: -2em;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 1em;
}


@media screen and (min-width: 700px) {
  #menu_icon {
    display: none;
  }

  .menu-item {
    display: block;
  }

  .menu-item:last-child {
    margin-right: 5em;
  }

  .event::before {
    text-align: right;
    position: absolute;
    display: block;
    top: 0.7em;
    left: -13em;
  
    content: attr(data-time);
    width: 10em;
  }

  .event {
    width: 28em;
  }

}
