body {
  margin: 0;
  background-color: #222222;
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

.text-center {
  text-align: center;
}

header {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  position: absolute;
  background-color: brown;
  top: 10vh;
  width: 100%;
  display: flex;
  height: 90vh;
  max-height: 0;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: max-height 1s;
}

nav.open {
  max-height: 90vh;
}

nav > a {
  /* display: none; */
  color: #ffffff;
  text-decoration: none;
  font-size: 2em;
  transform: scale(1.15) translateY(-30px);
  opacity: 0;
  border-bottom: 1px solid rgb(187, 187, 187);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

nav.open > a{
  /* display: block; */
  transform: scale(1) translateY(0px);
  opacity: 1;
  transition-delay: 0s;
}

nav a:nth-child(1) {
  transition-delay: 0.25s;
}
nav a:nth-child(2) {
  transition-delay: 0.35s;
}
nav a:nth-child(3) {
  transition-delay: 0.45s;
}
nav a:nth-child(4) {
  transition-delay: 0.55s;
}

main {
  background-color: #222222;
  margin: 0;
}

footer {
  background-color: brown;
}

#logo {
  height: 7vh;
}

#menu_icon {
  height: 6vh;
}

#welcome_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

#welcome_message {
  margin: 1em;

  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #ffffff;
}

#welcome_name {
  font-family: "Lucida Console", "Courier New", monospace;
  line-height: 51px;
  text-decoration-line: underline;
}

#profile_img {
  border-radius: 50%;
  width: 50%;
}


#contact_container {
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 1em;
}
#social_links_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

#social_links_container > a {
  display: block;
}

.hline::before,
.hline::after {
  width: 80%;
  height: 0;
  border: 1px solid white;
  margin: 3px 10%;
  display: inline-block;
  content: "";
}

.title {
  font-size: 3em;
}