@import "common.css";

.title-container {
  display: flex;
  justify-content: space-around;
  margin: 0em 15em;
  margin-right: 22em;
}

.title-container > h1 {
  color: aliceblue;
}

.divider {
  display: none;
}

#experience_container {
  padding: 1em;
}

#experience_container > div {
}

/* Timeline inspiration: https://codepen.io/alanhouser/pen/aErrQJ */

.timeline {
  margin-left: 48%;
}

.timeline .event-reversed::before {
  position: absolute;
  display: block;

  box-shadow: 0 0 0 4px var(--text-primary);
  left: 31em;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 1em;
}

.event-reversed {
  position: relative;
  left: -32em;
  background-color: var(--bg-secondary);
  width: 28em;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

.event-reversed::after {
  position: absolute;
  display: block;
  text-align: left;
  color: var(--text-primary);
  top: 0.7em;
  left: 33em;

  content: attr(data-time);
  width: 10em;
}

.subtitle {
  font-weight: 100;
  font-size: 0.8em;
}

@media screen and (max-width: 900px) {
  .timeline {
    margin-left: 5px;
  }
  
  .timeline > li {
    width: 18em;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
  }

  .event-reversed {
    left: 1em;
  }
  .event-reversed::after {
    position: absolute;
    display: block;

    box-shadow: 0 0 0 4px var(--text-primary);
    left: -2em;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 1em;
  }
  
  .timeline .event-reversed::before {
    text-align: right;
    position: absolute;
    display: none;
    top: 0.7em;
    left: -13em;

    content: attr(data-time);
    width: 10em;

    box-shadow: none;
    background: none;
    border-radius: 0;
    height: auto;
    width: auto;
  }

  .title-container {
    margin: 0em 4em;
  }

  .divider {
    display: block;
  }
}
