@import 'common.css';

main{
    padding: 10vh;
}

#projects_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 90vh;
}

.project {
    margin: 1em;
    border-bottom: 2px solid var(--text-primary);
}

.project-link {
    display: block;
    position: relative;
}
.project-link > img {
  transition: all 0.1s ease;
  height: 15em;
}

.project-title {
    margin: 0;
    text-align: center;
    color: var(--text-primary);
    white-space: nowrap;
    letter-spacing: -1px;
    font-weight: 400;
    word-break: break-word;
    font-size: 1.7em;
}

.proDESC {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: white;
}

.project-link:hover > .proDESC {
    display: block;
}

.project-link:hover > img {
    filter: brightness(50%);
    transform: scale(1.05);
}

@media screen and (max-width: 788px) {
    #projects_container{
        margin: 0em;
        grid-template-columns: 100%;
    }

    .project{
        margin: 1em 0em;
    }

    main{
        padding: 5em 2em;
    }
}